:root {

    /* BRAND COLORS */
    --darkFont: #02174d;
    --brightFont: #15466d;
    --darkMain: #C98A3A;
    --brightMain: #D8A75B;
    --back: #F2E2C8;
    --backAlt: #e6ded2cc;

    /* BRAND FONT */
    --font: "Canva Sans", sans-serif;
}

html {
    font-family: var(--font);
    color: black;
    background-color: var(--back);
}

button,
Link,
a {
    cursor: pointer;
}