:root {

    --zumia-gold: #C98A3A;
    /* Primario marca: logo, highlights, headers */
    --zumia-sand: #D8A75B;
    /* Secundario cálido: badges, cards suaves, hover */
    --zumia-cream: #F2E2C8;
    /* Fondo claro: secciones, superficies, backgrounds */
    --zumia-brown: #8A5A2E;
    /* Soporte: íconos, detalles, subtítulos */
    --zumia-dark-brown: #3B2A1E;
    /* Texto cálido alterno / overlays sutiles */


    /* BRAND COLORS */
    --col1: #121f44;
    --col2: #02174d;
    --col3: #15466d;
    --col4: #C98A3A;
    --col5: #69b8bb;
    --back: #F2E2C8;
    --back2: #e6ded2cc;
    --alt: #3533cd;

    /* NEUTRALS */
    --wtext: #f8fafc;
    --btext: #113c66;
    --dtext: #101527;

    /* TYPOGRAPHY TODO*/
    --font: "Canva Sans", sans-serif;
    --bigfont: "Roboto", sans-serif;

}

html {
    font-family: var(--font);
    color: var(--dtext);
    background-color: var(--back);
}

button,
Link,
a {
    cursor: pointer;
}